<%= @phoneme.phoneme %> appears in <%= @phoneme.languages.count %> languages:

<ul>
	<% @phoneme.languages.each do |language| %>
		<li>
			<%= link_to language.name_and_source, language_path(language) %>
		</li>
	<% end %>
</ul>