<h1>PHOIBLE Search Frontend</h1>

<ul>
	<li><%= link_to "List languages", languages_url %></li>
	<li><%= link_to "List phonemes", phonemes_url %></li>
	<li><%= link_to "Find phonemes and languages that contain them", search_url %></li>
	<li>Find phonemes by text search</li>
</ul>